<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav" >
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" th:href="@{/home}"><img src="img/pngegg.png" style="width: 50px;"/></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0" style="display: flex;align-items: center;justify-content: center;">
                <li class="nav-item"><a class="nav-link" th:href="@{/home}">Home</a></li>
                <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
                <th:block th:if="${#request.getRemoteUser()!=null}">
                    <li class="nav-item">
                        <a th:href="@{/course}"><button type="button" class="btn btn-primary">Course</button></a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/quiz}"><button type="button" class="btn btn-primary">Quiz</button></a>
                    </li>

                </th:block>
                <th:block th:if="${#request.getRemoteUser()==null}">
                    <li class="nav-item">
                        <a th:href="@{/login}"><button type="button" class="btn btn-primary">Login</button></a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/register}"><button type="button" class="btn btn-danger">Register</button></a>
                    </li>
                </th:block>

                    <th:block th:if="${#request.getRemoteUser()!=null}">

                        <li class="nav-item text-uppercase">
                            <a class="nav-link">

                                Welcome <th:block th:if="${#request.getRemoteUser()!=null}"
                                                  th:text="${#request.getRemoteUser()}" />
                            </a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/logout}"><button type="button" class="btn btn-primary">Logout</button></a>
                        </li>
                </th:block>

            </ul>
        </div>
    </div>
</nav>
