<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>DESIGN</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body style="background: lightgray;">

   <!--H1--->
  <div class="container text-center" style="margin-top: 200px;background: #1b6d85">
      <h1 class="display-1 text-white">Welcome to the Course Page</h1>
  </div>
   <!--H1--->

   <div class="container">
       <div class="container text-center" style="padding: 15px 15px 15px 15px; border: 1px solid lightgreen;
        display:flex;
        justify-content: center;
        align-items: center;
        ">
           <iframe width="1280" height="720" src="https://www.youtube.com/embed/zbMHLJ0dY4w?autoplay=1&mute=0"></iframe>
       </div>
   </div>

   <div class="container text-center" style="margin-top: 20px;background: #1b6d85">
       <h1 class="display-3 text-white">What is Data?</h1>
       <p class="text-white" style="font-size:20px;">In simple words, data can be facts related to any object in consideration. For example, your name, age, height, weight, etc. are some data related to you. A picture, image, file, pdf, etc. can also be considered data.</p>
   </div>

   <div class="container text-center" style="margin-top: 20px;background: #1b6d85">
       <h1 class="display-3 text-white">What is Database??</h1>
       <p class="text-white" style="font-size:20px;">A database is a systematic collection of data. They support electronic storage and manipulation of data. Databases make data management easy.

           Let us discuss a database example: An online telephone directory uses a database to store data of people, phone numbers, and other contact details. Your electricity service provider uses a database to manage billing, client-related issues, handle fault data, etc.

           Let us also consider Facebook. It needs to store, manipulate, and present data related to members, their friends, member activities, messages, advertisements, and a lot more. We can provide a countless number of examples for the usage of databases.</p>
   </div>

   <div class="container">
       <div class="container text-center" style="padding: 15px 15px 15px 15px; border: 1px solid lightgreen;
        display:flex;
        justify-content: center;
        align-items: center;
        ">
           <iframe width="1280" height="720" src="https://www.youtube.com/embed/wR0jg0eQsZA?autoplay=1&mute=0"></iframe>
       </div>
   </div>

   <div class="container text-center" style="margin-top: 20px;background: #1b6d85">
       <h1 class="display-3 text-white">What is SQL?</h1>
       <p class="text-white" style="font-size:20px;">SQL is the standard language for dealing with Relational Databases. SQL can be used to insert, search, update, and delete database records. SQL can do lots of other operations, including optimizing and maintenance of databases. SQL stands for Structured Query language, pronounced as “S-Q-L” or sometimes as “See-Quel”… Relational databases like MySQL Database, Oracle, MS SQL Server, Sybase, etc. use ANSI SQL.</p>
   </div>

   <div class="container text-center" style="margin-top: 20px;background: #1b6d85">
       <h1 class="display-3 text-white">How to Use SQL?</h1>
       <h1 class="display-5 text-white">SQL Code Example:</h1>
       <p class="text-white" style="font-size:20px; padding: 10px 10px 10px 10px; background: #21bf73">SELECT * FROM Members WHERE Age > 30</p>
       <p class="text-white" style="font-size:20px;">SQL syntaxes used in different databases are almost similar, though few RDBMS use a few different commands and even proprietary SQL syntaxes.</p>
   </div>

   <div class="container text-center" style="margin-top: 20px;background: #1b6d85">
       <h1 class="display-3 text-white">Types of SQL Statements</h1>
       <h1 class="display-5 text-white">Here are five types of widely used SQL queries.</h1>
       <p class="text-white" style="font-size:20px; padding: 10px 10px 10px 10px; background: #21bf73">CREATE – defines the database structure schema</p>
       <p class="text-white" style="font-size:20px; padding: 10px 10px 10px 10px; background: #21bf73">INSERT – inserts data into the row of a table</p>
       <p class="text-white" style="font-size:20px; padding: 10px 10px 10px 10px; background: #21bf73">UPDATE – updates data in a database</p>
       <p class="text-white" style="font-size:20px; padding: 10px 10px 10px 10px; background: #21bf73">DELETE – removes one or more rows from a table</p>
       <p class="text-white" style="font-size:20px; padding: 10px 10px 10px 10px; background: #21bf73">SELECT – selects the attribute based on the condition described by the WHERE clause</p>
       <p class="text-white" style="font-size:20px; padding: 10px 10px 10px 10px; background: #21bf73">DROP – removes tables and databases</p>
   </div>

   <div class="container">
       <div class="container text-center" style="padding: 15px 15px 15px 15px; border: 1px solid lightgreen;
        display:flex;
        justify-content: center;
        align-items: center;
        ">
           <iframe width="1280" height="720" src="https://www.youtube.com/embed/YDHQVPxhMX4?autoplay=1&mute=0"></iframe>
       </div>
   </div>

   <div class="container text-center" style="margin-top: 20px;background: #1b6d85">
       <h1 class="display-3 text-white">How to Create Database in MySQL</h1>
       <p class="text-white" style="font-size:20px;">Imagine you need to create a database with name “movies”. You can create a database in MySQL by executing following SQL command.</p>
       <p class="text-white" style="font-size:20px; padding: 10px 10px 10px 10px; background: #21bf73">CREATE DATABASE movies;</p>
       <p class="text-white" style="font-size:20px;">Now let’s improve our SQL query adding more parameters and specifications.</p>
   </div>


   <div class="container text-center" style="margin-top: 20px;background: #1b6d85">
       <h1 class="display-6 text-white">IF NOT EXISTS</h1>
       <p class="text-white" style="font-size:20px;">A single MySQL server could have multiple databases. If you are not the only one accessing the same MySQL server or if you have to deal with multiple databases there is a probability of attempting to create a new database with name of an existing database . IF NOT EXISTS let you to instruct MySQL server to check the existence of a database with a similar name prior to creating database.
           When IF NOT EXISTS is used database is created only if given name does not conflict with an existing database’s name. Without the use of IF NOT EXISTS MySQL throws an error.</p>
       <p class="text-white" style="font-size:20px; padding: 10px 10px 10px 10px; background: #21bf73">CREATE DATABASE IF NOT EXISTS movies;</p>
   </div>
   <!-- Bootstrap core JS-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <!-- SimpleLightbox plugin JS-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
  <!-- Core theme JS-->
  <script src="js/scripts.js"></script>
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <!-- * *                               SB Forms JS                               * *-->
  <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
  <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
  <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

</body>
</html>